@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);

//fontfamily
$basefont: "游ゴシック", YuGothic, "メイリオ";

//color
$basecolor: #fdfcf6;
$subcolor: #0D4866;
$keycolor: #B2AE0E;
$fontcolor: #4c4c4c;

//base--------------------------------------
html{ font-size: 62.5%; }

body{
  color: $fontcolor;
  font-size: 2rem;
  font-family: $basefont;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: $basecolor;
}

//textalign--------------------------------------
.text-center{
    text-align: center;
}

//top--------------------------------------
.cover{
    background-image: url(./image/business-card-min.jpg);
    max-width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
}
.main-text{
    font-size: 2rem;
    margin: 20px 0;
}

//container--------------------------------------
.container{
    width: 100%;
    height: auto;
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);
    background-color: $subcolor;
    padding: 20px 0;
    .box{
        @include flex(1);
        @extend .text-center;
        background-color: $basecolor;
        @include border-radius(4px);
        @include box-sizing(border-box);
        width: 70%;
        padding: 15px;
        margin: 20px auto;
        h2{
            font-size: 2.8rem;
            padding-bottom: 5px;
            font-weight: bold;
        }
    }
}

//footer--------------------------------------
.end{
    width: 70%;
    height: auto;
    background-color: $subcolor;
    @extend .text-center;
    margin: 30px auto 20px auto;
    padding: 10px 0;
    @include border-radius(4px);
    p{
        color: $basecolor;
        font-size: 2rem;
        font-weight: bold;
    }
    .button{
        display: inline-block;
        width: auto;
        height: auto;
        background-color: $keycolor;
        color: $basecolor;
        text-decoration: none;
        @include border-radius(2px);
        margin-top: 8px;
        padding: 2px;
    }
}

//desktop-------------------------------
@media (min-width: 768px) {
    
     //top--------------------------------------
        .cover{
            height: 500px;
        }
    
    //container--------------------------
        .container{
            @include flex-direction(row);
            justify-content: space-between;
            padding: 15px;
            width: auto;
            .box{
                margin: 0 10px;
                width: 33.33333%;
            }
        }
    
    //hover------------------------------
        .button{
            &:hover {
              background-color: darken($keycolor, 10%);
        }
    }
}